body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #e7f2fa ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

h2 {
  color: #6c757d;
}

.numero-input {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #28a745 ;
  color: white;
  border: none;
  cursor: pointer;
}

.resultado {
  margin-top: 30px;
}

#mensagem {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffc107;
}

#numeros-usuario,
#numeros-sorteados {
  font-style: italic;
  color:  #dc3545;
}
