body {
  font-family: sans-serif;
  text-align: center;
  background-color: #dfe9f3;
  margin: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #6099be;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #103f70;
}

h2 {
  color: #1a1f68;
}

.numero-input {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #07305c;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.resultado {
  margin-top: 30px;
}

#mensagem {
  font-weight: bold;
  margin-bottom: 10px;
  color: #092c5a;
}

#numeros-usuario,
#numeros-sorteados {
  font-style: italic;
  color: #1d0f7a;
}
